<div ng-controller="CustomersController">

	<h3>Add a new customer</h3>

	<div class="warning_message" ng-show="duplicate">{{ message }}</div>

	<form>
		Customer Name: <input type="text" ng-model="newCustomer.name">
		<button class="send_button" ng-click="addCustomer()">Add</button>
	</form>

	<p></p>

	<input class="search_customer" type="text" ng-model="filter_name" placeholder="search name...">

	<p></p>

	<table border="1">
		<col width="200">
  		<col width="200">
  		<col width="130">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Created Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in customers | filter: filter_name">
				<td align="center"> {{ customer.name }}</td>
				<td align="center"> {{ customer.created_date | date: 'MMMM dd, yyyy' }} </td>
				<td align="center">
					<button id="remove_button" ng-click="removeCustomer(customer)">Remove</button>
				</td>
			</tr>
		</tbody>

	</table>

</div>
