<div ng-controller="OrdersController">

	<h3>Add a new order</h3>

	<form>
		Customer Name:
		<select ng-model="new_order.customer_name">
			<option value="{{customer.name}}" ng-repeat="customer in customers">{{ customer.name }}</option>
		</select><br>

		Quantity<input type="number" min="1" ng-model="new_order.quantity" ng-init="new_order.quantity=1">

		Item:
		<select ng-model="new_order.product">
			<option value="{{product.product_name}}" ng-repeat="product in products">{{ product.product_name }}</option>
		</select>

		<button class="send_button" ng-click="addOrder()">Submit Order!</button>		

	</form>

	<input class="search" type="text" ng-model="order_filter" placeholder="search orders...">

	<table border="1">
		<col width="200">
  		<col width="200">
  		<col width="130">
		<col width="130">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders | filter: order_filter">
				<td align="center"> {{ order.customer_name }}</td>
				<td align="center"> {{ order.product_name }}</td>
				<td align="center"> {{ order.quantity }}</td>
				<td align="center"> {{ order.order_date | date: 'MMMM dd, yyyy' }} </td>
			</tr>
		</tbody>

	</table>

</div>
